* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
strong {
  color: hsl(160deg, 100%, 30%);
}

.indented-heading {
  font-size: 1.5rem;
  background: hsl(45deg, 100%, 50%);
  padding: 32px;
  width: fit-content;
}
/* Add styles here! */
.intro-chunk {
  border: solid 3px palegreen;
}
/* .card {
  max-width: max-content;
  
} */
.max-width-wrapper {
  border: solid 3px palevioletred;
  max-width: max-content;
}
