* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
strong {
  color: hsl(160deg, 100%, 30%);
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  margin-left: -32px;
  width: fit-content;
  padding: 16px 32px 16px 32px;
  border-bottom: solid 8px hsl(45deg, 100%, 40%);
}
/* Add styles here! */
.intro-chunk {
  max-width: 400px;
  margin-left: 104px;
  margin-right: 104px;
}
section.max-width-wrapper {
  background: hsl(0deg, 0%, 60%);
  border-top: solid 8px hsl(0deg, 0%, 30%);
}
.card {
  max-width: 600px;
  width: fit-content;
  /* padding: 8px; */
  margin-top: 64px;
  margin-left: 64px;
  margin-right: 64px;

  background: white;
  border-bottom: solid 8px hsl(0deg, 0%, 30%);
}

.max-width-wrapper {
  /* width: fit-content; */
}
